<my-header title="所有联系人" [isShowCreateButton]="true"></my-header>
<ul class="list">
  <li *ngFor="let contact of (contacts | selectCantact:prefix1) trackBy:trackByContacts">
    <list-item [contact]="contact" (routerNavigate)="routerNavigate($event)"></list-item>
  </li>
</ul>
<my-footer [(value)]="number1"></my-footer>
<my-footer [value]="number2" (valueChange)="number2=$event"></my-footer>
<ul style="position: fixed;left: 0;top: 200px;z-index: 1000;">
  <li>Number1:{{number1}}</li>
  <li>Number2:{{number2}}</li>
</ul>